#navigation {
  padding: 0;
}

.header {
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  position: absolute;
}

.header .header-content {
  padding: 15px 0px;
  background: transparent;
}

.header .header-content .main-menu {
  text-align: center;
  padding: 0;
}

.header .header-content .main-menu ul li {
  display: inline-block;
  position: relative;
  margin: 0 20px;
}

.header .header-content .main-menu ul li.logo img {
  width: 100px;
  max-width: 100px;
  height: auto;
}

.header .header-content .main-menu ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  position: relative;
}

.header .header-content .main-menu ul li a:hover {
  text-decoration: none;
  transition: transform 200ms ease;
  -webkit-transition: transform 200ms ease;
  transform: scale(1.03);
}


.header .header-content.sticky {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 990;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  padding: 15px 0px;
  background: rgba(255, 255, 255, 0.96);
  background: #000;
}

.header .header-content.sticky .main-menu ul {
  margin: 0;
}

.header .header-content.sticky .main-menu ul li a {
  color: #fff;
}

.header .header-content.sticky .main-menu ul li.logo {
  display: none;
}
